/* --- RESET --- */

html, body, div, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: border-box;
  text-align: inherit;
  text-decoration: inherit;
  list-style: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  position: relative;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  font-family: sans-serif;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- CLASSES --- */

.shopping-cart-list {
  margin: auto;
  margin-top: 100px;
  width: 960px;
}

.shopping-cart {
  background-color: #fff;
  float: left;
  margin: 10px;
}

.shopping-cart h1 {
  width: 300px;
  padding: 50px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
}

.shopping-cart h1:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.shopping-cart h1:active {
  background-color: rgba(255, 0, 0, 0.5);
}

.receipt {
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  padding-left: 20px;
}

/* --- MOBILE RESPONSIVE --- */
@media only screen and (max-device-width: 736px) {
  .shopping-cart-list {
    width: 100%;
    margin: 0;
  }

  .shopping-cart {
    float: none;
    margin: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }

  .shopping-cart h1 {
    width: 100%;
    font-size: 100px;
  }

  .receipt {
    font-size: 28px;
  }
}
